/* /\/\/\/\/\/\/\/\/\/\ MEDIA QUERIES /\/\/\/\/\/\/\/\/\/\ */

@media only screen and (max-width: 3850px) and (min-width: 2571px) and (orientation: landscape) {
  h1 {
    font-size: 8rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .instructions-container .instructions {
    font-size: 4.5rem;
    margin-top: 30px;
  }

  button {
    margin-bottom: 10px;
  }

  .submit-container {
    transform: scale(3);
    margin-top: 350px;
    margin-bottom: 450px;
  }

  #results {
    transform: scale(3);
  }

  .showWinner {
    padding: 35px;
    font-size: 4rem;
  }

  .showWinner>button {
    font-size: 4rem;
    min-height: 150px;
  }

  hr {
    border: solid 2px;
    box-shadow: 0 0 5px var(--main-orange);
  }

  #footer-text {
    font-size: 3rem;
  }

  #info-icon {
    top: 90px;
    right: 80px;
    transform: scale(2.5);
  }

  #info {
    display: block;
    font-size: 2rem;
    min-width: 400px;
    border: outset 3px var(--main-orange);
  }

  .dropdown-container {
    bottom: 140px;
    right: 70px;
  }

  #language-selector {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 2570px) and (min-width: 1931px) and (orientation: landscape) {
  h1 {
    font-size: 5.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .instructions-container .instructions {
    font-size: 3rem;
    margin-top: 30px;
  }

  button {
    margin-bottom: 10px;
  }

  .submit-container {
    transform: scale(1.7);
    margin-top: 140px;
    margin-bottom: 230px;
  }

  #results {
    transform: scale(1.9);
  }

  .showWinner {
    padding: 35px;
    font-size: 3rem;
  }

  .showWinner>button {
    font-size: 3rem;
    min-height: 100px;
  }

  hr {
    border: solid 2px;
    box-shadow: 0 0 5px var(--main-orange);
  }

  #footer-text {
    font-size: 2rem;
  }

  #info-icon {
    top: 60px;
    right: 60px;
    transform: scale(1.8);
  }

  #info {
    display: block;
    font-size: 2rem;
    min-width: 400px;
    border: outset 3px var(--main-orange);
  }

  .dropdown-container {
    bottom: 90px;
    right: 40px;
  }

  #language-selector {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 1930px) and (min-width: 1371px) and (orientation: landscape) {
  h1 {
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .instructions-container .instructions {
    font-size: 1.8rem;
    margin-top: 5px;
  }

  button {
    margin-bottom: 10px;
  }

  .submit-container {
    transform: scale(1.3);
    margin-top: 70px;
    margin-bottom: 80px;
  }

  #results {
    transform: scale(1.3);
  }

  .showWinner {
    padding: 25px;
    font-size: 1.8rem;
  }

  .showWinner>button {
    font-size: 1.8rem;
  }

  #footer-text {
    font-size: 1.2rem;
  }

  #info-icon {
    top: 26px;
    right: 30px;
    transform: scale(1.2);
  }

  #info {
    display: block;
    font-size: 1.2rem;
    min-width: 250px;
  }

  .dropdown-container {
    bottom: 60px;
    right: 30px;
  }

  #language-selector {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1370px) and (min-width: 1026px) and (orientation: landscape) {
  h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .instructions-container .instructions {
    font-size: 1.4rem;
    margin-top: 5px;
  }

  button {
    margin-bottom: -10px;
  }

  .submit-container {
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .showWinner {
    padding: 25px;
    font-size: 1.5rem;
  }

  .showWinner>button {
    font-size: 1.5rem;
  }

  #info {
    display: block;
    min-width: 220px;
  }

  .dropdown-container {
    bottom: 50px;
    right: 30px;
  }

  #language-selector {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 771px) and (orientation: portrait) {
  h1 {
    font-size: 4rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .instructions-container .instructions {
    font-size: 2.5rem;
    margin-top: 30px;
  }

  button {
    margin-bottom: 20px;
  }

  .submit-container {
    transform: scale(1.9);
    margin-top: 200px;
    margin-bottom: 220px;
  }

  #results {
    transform: scale(2);
  }

  .round-p,
  .round-winner-p {
    padding: 20px;
  }

  .showWinner {
    padding: 40px;
    font-size: 2.3rem;
  }

  .showWinner>button {
    font-size: 2.3rem;
    min-height: 80px;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 1;
  }

  #footer-text {
    font-size: 1.6rem;
    letter-spacing: normal;
  }

  #info-icon {
    display: none;
  }

  .dropdown-container {
    bottom: 75px;
    right: 35px;
  }

  #language-selector {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 770px) and (min-width: 411px) and (orientation: portrait) {
  h1 {
    font-size: 3rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .instructions-container .instructions {
    font-size: 2rem;
    margin-top: 20px;
  }

  button {
    margin-bottom: 10px;
  }

  .submit-container {
    transform: scale(1.4);
    margin-top: 120px;
    margin-bottom: 100px;
  }

  #results {
    transform: scale(1.4);
  }

  .round-p,
  .round-winner-p {
    padding: 15px;
  }

  .showWinner {
    padding: 30px;
    font-size: 2rem;
  }

  .showWinner>button {
    font-size: 2rem;
    min-height: 70px;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 1;
  }

  #footer-text {
    font-size: 1.3rem;
    letter-spacing: normal;
  }

  #info-icon {
    display: none;
  }

  .dropdown-container {
    bottom: 55px;
    right: 25px;
  }

  #language-selector {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 410px) and (min-width: 361px) and (orientation: portrait) {
  h1 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .instructions-container .instructions {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  button {
    margin-bottom: 0px;
  }

  .submit-container {
    transform: scale(1);
    margin-top: 35px;
    margin-bottom: 20px;
  }

  #results {
    transform: scale(1);
  }

  .round-p,
  .round-winner-p {
    padding: 15px;
  }

  .showWinner {
    padding: 25px;
    font-size: 1.5rem;
  }

  .showWinner>button {
    font-size: 1.7rem;
    min-height: 60px;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 1;
  }

  #footer-text {
    font-size: 1rem;
    letter-spacing: normal;
  }

  #info-icon {
    display: none;
  }

  .dropdown-container {
    bottom: 45px;
    right: 15px;
  }

  #language-selector {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 360px) and (min-width: 321px) and (orientation: portrait) {
  h1 {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .instructions-container .instructions {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  button {
    margin-bottom: 20px;
  }

  .choice-buttons {
    margin-bottom: 0px;
  }

  .submit-container {
    transform: scale(0.9);
    margin-top: 10px;
    margin-bottom: -10px;
  }

  #results {
    transform: scale(0.9);
  }

  .round-p,
  .round-winner-p {
    padding: 10px;
  }

  .showWinner {
    padding: 15px;
    font-size: 1.3rem;
  }

  .showWinner>button {
    font-size: 1.5rem;
    min-height: 60px;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 1;
  }

  #footer-text {
    font-size: 0.8rem;
    letter-spacing: normal;
  }

  #info-icon {
    display: none;
  }

  .dropdown-container {
    bottom: 40px;
    right: 15px;
  }

  #language-selector {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  h1 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .instructions-container .instructions {
    font-size: 1rem;
    margin-top: 0px;
  }

  button {
    margin-bottom: 20px;
  }

  .choice-buttons {
    margin-bottom: 0px;
  }

  .submit-container {
    transform: scale(0.8);
    margin-top: -10px;
    margin-bottom: -30px;
  }

  #results {
    transform: scale(0.8);
  }

  .round-p,
  .round-winner-p {
    padding: 10px;
  }

  footer {
    position: absolute;
    width: 100%;
    bottom: 1;
  }

  #footer-text {
    font-size: 0.8rem;
    letter-spacing: normal;
  }

  #info-icon {
    display: none;
  }

  .dropdown-container {
    bottom: 35px;
    right: 10px;
  }

  #language-selector {
    font-size: 1.1rem;
  }
}