* {
	box-sizing: border-box;
}

html {
	font-family: 'Nunito', sans-serif;
	color: #fcdcb2;
	font-weight: 500;
}

body {
	background-color: rgb(31, 28, 27);
	z-index: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 0;
}

header {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	background-color: rgb(56, 44, 4);
}

h1 {
	color: rgb(255, 173, 65);
	font-family: 'Press Start 2P', sans-serif;
	font-size: 30px;
	margin: 25px;
	text-shadow: 2px 2px 2px rgba(247, 169, 0, 0.4);
}

h1>i {
	color: rgb(255, 31, 15);
	text-shadow: 1px 1px 1px rgba(175, 153, 52, 0.6);
}

.instructions-container {
	display: flex;
	flex-flow: column nowrap;
	
}

.instructions-container .instructions {
	margin: 2px;
	font-size: 0.9rem;
	font-family: 'Press Start 2P', sans-serif
}

.submit-container {
	margin: 10px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.choice-buttons{
	margin-bottom: 20px;
}

.computer-play{
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
}

#robot{
	padding-top: 10px;;
	color:rgb(101, 196, 255);
}


button {
	font-family: Nunito;
	font-size: 1rem;
	margin: 5px;
	margin-top: 10px;
	color: rgb(255, 190, 190);
	background-color: rgb(36, 36, 36);
	border-radius: 10px;
	border-color: lightgrey;
	padding: 8px;
}

.choiceBtn {
	width: 110px;
	height: 110px;
}

.selected {
	transform: scale(1.15);
	border-color: rgb(255, 173, 65);
	box-shadow: 0px 0px 0.7rem rgb(255, 173, 65);
	transition: all 0.2s ease-out;
}

.false-btn {
	border: 2px solid lightgrey;
	border-radius: 10px;
	padding: 6px;
	padding-top: 12px;
	width: 110px;
	height: 110px;
	color:rgb(255, 173, 65);
	text-shadow: 0 0 0.25rem rgb(255, 0, 0);
}

#results {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 20px;
	gap: 15px;
}

#results p {
	margin: 0;
}

#scores {
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
	gap: 10px;
	text-align: left;
	min-width: 200px;
}

#rounds {
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
	gap: 10px;
	text-align: left;
	min-width: 200px;
}

.showWinner {
	z-index: 2;
	box-shadow: 3px 3px 3px black;
	background-color: rgb(30, 30, 30);
	position: absolute;
	top: 40vh;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 15px;
}

.overlay {
	/*display: none;*/
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: 1;
}

.inactive {
	display: none;
}

.round-p, .score-p, .round-winner-p{
	font-family: 'Press Start 2P', sans-serif;
	text-align: center;
}

/*#playerScoreCounter{
	font-family: 'Press Start 2P', sans-serif;
}

#showWinnerPara{
	font-family: 'Press Start 2P', sans-serif;
}*/

@media (max-width: 400px) and (orientation: portrait) {
	h1{
		font-size: 25px;
		margin: 15px;
	}
	.instructions-container .instructions{
		font-size: 13px;
	}
}