:root {
	--base-text: #fcdcb2;
	--headerbg: rgb(56, 44, 4);
	--bg-gray: rgb(31, 28, 27);
	--main-orange: rgb(255, 173, 65);
	--skin: rgb(248, 199, 177);
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'upheaval_tt_brkregular', 'Press Start 2P', 'Courier New',
		Courier, monospace;
	color: var(--base-text);
	font-weight: 500;
	user-select: none;
}

body {
	background-color: var(--bg-gray);
	z-index: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 0;
}

header {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
	background-color: var(--headerbg);
}

h1 {
	color: var(--main-orange);
	font-family: 'upheaval_tt_brkregular', 'Press Start 2P', 'Courier New',
		Courier, monospace;
	font-size: 2.5rem;
	margin: 15px;
	text-shadow: 2px 2px 2px rgba(247, 169, 0, 0.4);
}

h1 > i {
	color: rgb(255, 31, 15);
	text-shadow: 1px 1px 1px rgba(175, 153, 52, 0.6);
}

.instructions-container {
	display: flex;
	flex-flow: column nowrap;
}

.instructions-container .instructions {
	margin: 2px;
	font-size: 1.5rem;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 1px rgba(184, 158, 41, 0.75);
	font-family: 'upheaval_tt_brkregular', 'Press Start 2P', sans-serif;
}

.submit-container {
	margin: 10px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.choice-buttons {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
}

.computer-play {
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
}

.zoom {
	animation: zoom-in-zoom-out 0.7s linear 0s 1 normal;
}

#robot {
	padding-top: 10px;
	color: rgb(101, 196, 255);
}

button {
	font-family: 'upheaval_tt_brkregular', 'Courier New', Courier, monospace;
	font-size: 1rem;
	margin: 5px;
	margin-top: 10px;
	color: var(--skin);
	background-color: rgb(36, 36, 36);
	border-radius: 10px;
	border-color: lightgrey;
	padding: 8px;
	cursor: pointer;
}

.choiceBtn {
	width: 110px;
	height: 110px;
}

.selected {
	transform: scale(1.15);
	border-color: var(--main-orange);
	box-shadow: 0px 0px 0.7rem var(--main-orange);
	transition: all 0.3s linear;
}

.false-btn {
	border: 2px outset lightgrey;
	border-radius: 10px;
	padding: 6px;
	padding-top: 12px;
	width: 110px;
	height: 110px;
	color: var(--main-orange);
	text-shadow: 0 0 0.25rem rgb(255, 0, 0);
}

#results {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 10px;
	gap: 15px;
}

#results p {
	margin: 0;
}

#scores {
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
	gap: 10px;
	text-align: left;
	min-width: 200px;
}

#rounds {
	display: flex;
	flex-flow: column nowrap;
	padding: 10px;
	gap: 10px;
	text-align: left;
	min-width: 200px;
	margin-bottom: 10px;
}

.showWinner {
	z-index: 2;
	box-shadow: 8px 8px 6px black;
	background-color: rgb(30, 30, 30);
	position: absolute;
	top: 20vh;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 15px;
	font-size: 1.2rem;
}

.showWinner > button {
	font-size: 1.3rem;
}

.overlay {
	/*display: none;*/
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.inactive {
	display: none;
}

.round-p,
.score-p,
.round-winner-p {
	font-family: 'upheaval_tt_brkregular', 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.8px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 1%;
	opacity: 0.8;
}

#footer-text {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	gap: 7px;
	letter-spacing: 0.5px;
}

hr {
	color: var(--main-orange);
	box-shadow: 0 0 2px var(--main-orange);
	margin: 0;
	margin-bottom: 2px;
}

a {
	text-decoration: none;
	color: gold;
	text-shadow: 0 0 4px var(--main-orange);
}

a:hover,
a:visited {
	color: var(--main-orange);
}

#contact {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

@media (max-width: 400px) and (orientation: portrait) {
	h1 {
		font-size: 1.8rem;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.instructions-container .instructions {
		font-size: 1.3rem;
	}
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}
